body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background: white;
    color: #000;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  select {
    padding: 8px;
    width: 300px;
  }

  #result {
    margin-top: 15px;
    font-weight: bold;
    color: black;
  }

  #copyButton {
    margin-top: 10px;
    padding: 8px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  #copyButton:hover {
    background-color: #0056b3;
  }